@import 'colors.scss';

window {
  background-color: transparent;
}

.cheatsheet {
  background-color: transparent;
  padding: 2rem;
}

.cat {
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: $fg;
}

.shorts {
  padding: 0 0.5rem;
}

.cattitle {
  margin-bottom: 2rem;
  border-radius: 2px;
  padding: 3px 0;
  background-color: $bgtitle;
  color: $fgtitle;
  font-weight: Bold;
  font-size: 1rem;
}

.bind {
  font-weight: 700;
}
